<% search_term = params[:keyword].to_s %>
<% render 'search_form' %>
<h1>Searching for "<%= search_term %>"</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Host</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <% if search_term.in? event.name %>
        <tr>
          <td><%= link_to event.name, event %></td>
          <td><%= event.location %></td>
          <td><%= event.host %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
